body {
  margin: 0;
  direction: rtl;
  text-align: right;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.text-red {
  color: red;
}

.text-bold {
  font-weight: bolder;
}

.text-large {
  font-size: large;
}

.text-center {
  display: flex;
  justify-content: center;
}

.page-outline {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  row-gap: 2rem;
  flex-grow: 1;
}

.page-outline .card {
  padding: 1rem;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 1.2rem;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1);
}
